{% extends 'base.html.twig' %}

{% block body_id 'homepage' %}

{% block main %}
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
        <!-- Column -->
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex flex-row">
                        <div class="round round-lg align-self-center round-info"><i class="ti-wallet"></i></div>
                        <div class="m-l-10 align-self-center">
                            <h3 class="m-b-0 font-light">$3249</h3>
                            <h5 class="text-muted m-b-0">Total Revenue</h5></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Column -->
        <!-- Column -->
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex flex-row">
                        <div class="round round-lg align-self-center round-warning"><i
                                    class="mdi mdi-cellphone-link"></i></div>
                        <div class="m-l-10 align-self-center">
                            <h3 class="m-b-0 font-lgiht">$2376</h3>
                            <h5 class="text-muted m-b-0">Online Revenue</h5></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Column -->
        <!-- Column -->
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex flex-row">
                        <div class="round round-lg align-self-center round-primary"><i
                                    class="mdi mdi-cart-outline"></i></div>
                        <div class="m-l-10 align-self-center">
                            <h3 class="m-b-0 font-lgiht">$1795</h3>
                            <h5 class="text-muted m-b-0">Offline Revenue</h5></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Column -->
        <!-- Column -->
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex flex-row">
                        <div class="round round-lg align-self-center round-danger"><i
                                    class="mdi mdi-bullseye"></i></div>
                        <div class="m-l-10 align-self-center">
                            <h3 class="m-b-0 font-lgiht">$687</h3>
                            <h5 class="text-muted m-b-0">Ad. Expense</h5></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Column -->
    </div>
    <!-- Row -->
    <div class="row el-element-overlay">
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="el-card-item">
                    <div class="el-card-avatar el-overlay-1"><img src="{{asset('build/images/big/img1.jpg')}}"
                                                                  alt="user"/>
                        <div class="el-overlay">
                            <ul class="el-info">
                                <li><a class="btn default btn-outline image-popup-vertical-fit"
                                       href="{{asset('build/images/users/1.jpg')}}"><i class="icon-magnifier"></i></a>
                                </li>
                                <li><a class="btn default btn-outline" href="javascript:void(0);"><i
                                                class="icon-link"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="el-card-content">
                        <h3 class="box-title">Project title</h3>
                        <small>subtitle of project</small>
                        <br/></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="el-card-item">
                    <div class="el-card-avatar el-overlay-1"><img src="{{asset('build/images/big/img2.jpg')}}"
                                                                  alt="user"/>
                        <div class="el-overlay">
                            <ul class="el-info">
                                <li><a class="btn default btn-outline image-popup-vertical-fit"
                                       href="{{asset('build/images/users/1.jpg')}}"><i class="icon-magnifier"></i></a>
                                </li>
                                <li><a class="btn default btn-outline" href="javascript:void(0);"><i
                                                class="icon-link"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="el-card-content">
                        <h3 class="box-title">Project title</h3>
                        <small>subtitle of project</small>
                        <br/></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="el-card-item">
                    <div class="el-card-avatar el-overlay-1"><img src="{{asset('build/images/big/img3.jpg')}}"
                                                                  alt="user"/>
                        <div class="el-overlay">
                            <ul class="el-info">
                                <li><a class="btn default btn-outline image-popup-vertical-fit"
                                       href="{{asset('build/images/users/1.jpg')}}"><i class="icon-magnifier"></i></a>
                                </li>
                                <li><a class="btn default btn-outline" href="javascript:void(0);"><i
                                                class="icon-link"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="el-card-content">
                        <h3 class="box-title">Project title</h3>
                        <small>subtitle of project</small>
                        <br/></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="el-card-item">
                    <div class="el-card-avatar el-overlay-1"><img src="{{asset('build/images/big/img4.jpg')}}"
                                                                  alt="user"/>
                        <div class="el-overlay">
                            <ul class="el-info">
                                <li><a class="btn default btn-outline image-popup-vertical-fit"
                                       href="{{asset('build/images/users/1.jpg')}}"><i class="icon-magnifier"></i></a>
                                </li>
                                <li><a class="btn default btn-outline" href="javascript:void(0);"><i
                                                class="icon-link"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="el-card-content">
                        <h3 class="box-title">Project title</h3>
                        <small>subtitle of project</small>
                        <br/></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="el-card-item">
                    <div class="el-card-avatar el-overlay-1"><img src="{{asset('build/images/big/img3.jpg')}}"
                                                                  alt="user"/>
                        <div class="el-overlay">
                            <ul class="el-info">
                                <li><a class="btn default btn-outline image-popup-vertical-fit"
                                       href="{{asset('build/images/users/1.jpg')}}"><i class="icon-magnifier"></i></a>
                                </li>
                                <li><a class="btn default btn-outline" href="javascript:void(0);"><i
                                                class="icon-link"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="el-card-content">
                        <h3 class="box-title">Project title</h3>
                        <small>subtitle of project</small>
                        <br/></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="el-card-item">
                    <div class="el-card-avatar el-overlay-1"><img src="{{asset('build/images/big/img5.jpg')}}"
                                                                  alt="user"/>
                        <div class="el-overlay">
                            <ul class="el-info">
                                <li><a class="btn default btn-outline image-popup-vertical-fit"
                                       href="{{asset('build/images/users/1.jpg')}}"><i class="icon-magnifier"></i></a>
                                </li>
                                <li><a class="btn default btn-outline" href="javascript:void(0);"><i
                                                class="icon-link"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="el-card-content">
                        <h3 class="box-title">Project title</h3>
                        <small>subtitle of project</small>
                        <br/></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="el-card-item">
                    <div class="el-card-avatar el-overlay-1"><img src="{{asset('build/images/big/img6.jpg')}}"
                                                                  alt="user"/>
                        <div class="el-overlay">
                            <ul class="el-info">
                                <li><a class="btn default btn-outline image-popup-vertical-fit"
                                       href="{{asset('build/images/users/1.jpg')}}"><i class="icon-magnifier"></i></a>
                                </li>
                                <li><a class="btn default btn-outline" href="javascript:void(0);"><i
                                                class="icon-link"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="el-card-content">
                        <h3 class="box-title">Project title</h3>
                        <small>subtitle of project</small>
                        <br/></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="el-card-item">
                    <div class="el-card-avatar el-overlay-1"><img src="{{asset('build/images/big/img1.jpg')}}"
                                                                  alt="user"/>
                        <div class="el-overlay">
                            <ul class="el-info">
                                <li><a class="btn default btn-outline image-popup-vertical-fit"
                                       href="{{asset('build/images/users/1.jpg')}}"><i class="icon-magnifier"></i></a>
                                </li>
                                <li><a class="btn default btn-outline" href="javascript:void(0);"><i
                                                class="icon-link"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="el-card-content">
                        <h3 class="box-title">Project title</h3>
                        <small>subtitle of project</small>
                        <br/></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Row -->
    <div class="row">
        <div class="col-sm-6">
            <div class="jumbotron">
                <p>
                    {{ 'help.browse_app'|trans|raw }}
                </p>
                <p>
                    <a class="btn btn-primary btn-lg" href="{{ path('blog_index') }}">
                        <i class="fa fa-users" aria-hidden="true"></i> {{ 'action.browse_app'|trans }}
                    </a>
                </p>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="jumbotron">
                <p>
                    {{ 'help.browse_admin'|trans|raw }}
                </p>
                <p>
                    <a class="btn btn-primary btn-lg" href="{{ path('admin_index') }}">
                        <i class="fa fa-lock" aria-hidden="true"></i> {{ 'action.browse_admin'|trans }}
                    </a>
                </p>
            </div>
        </div>
    </div>
    <!-- Row -->
    <div class="row">
        <!-- Column -->
        <div class="col-lg-4 col-xlg-3 col-md-5">
            <div class="card blog-widget">
                <div class="card-body">
                    <div class="blog-image"><img src="{{ asset('build/images/big/img1.jpg') }}" alt="img"
                                                 class="img-responsive"/></div>
                    <h3>Business development new rules for 2017</h3>
                    <label class="label label-rounded label-success">Technology</label>
                    <p class="m-t-20 m-b-20">
                        Lorem ipsum dolor sit amet, this is a consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut
                    </p>
                    <div class="d-flex">
                        <div class="read"><a href="javascript:void(0)" class="link font-medium">Read More</a>
                        </div>
                        <div class="ml-auto">
                            <a href="javascript:void(0)" class="link m-r-10 " data-toggle="tooltip"
                               title="Like"><i class="mdi mdi-heart-outline"></i></a> <a
                                    href="javascript:void(0)" class="link" data-toggle="tooltip"
                                    title="Share"><i
                                        class="mdi mdi-share-variant"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-xlg-3 col-md-5">
            <div class="card blog-widget">
                <div class="card-body">
                    <div class="blog-image"><img src="{{ asset('build/images/big/img1.jpg') }}" alt="img"
                                                 class="img-responsive"/></div>
                    <h3>Business development new rules for 2017</h3>
                    <label class="label label-rounded label-success">Technology</label>
                    <p class="m-t-20 m-b-20">
                        Lorem ipsum dolor sit amet, this is a consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut
                    </p>
                    <div class="d-flex">
                        <div class="read"><a href="javascript:void(0)" class="link font-medium">Read More</a>
                        </div>
                        <div class="ml-auto">
                            <a href="javascript:void(0)" class="link m-r-10 " data-toggle="tooltip"
                               title="Like"><i class="mdi mdi-heart-outline"></i></a> <a
                                    href="javascript:void(0)" class="link" data-toggle="tooltip"
                                    title="Share"><i
                                        class="mdi mdi-share-variant"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-xlg-3 col-md-5">
            <div class="card blog-widget">
                <div class="card-body">
                    <div class="blog-image"><img src="{{ asset('build/images/big/img1.jpg') }}" alt="img"
                                                 class="img-responsive"/></div>
                    <h3>Business development new rules for 2017</h3>
                    <label class="label label-rounded label-success">Technology</label>
                    <p class="m-t-20 m-b-20">
                        Lorem ipsum dolor sit amet, this is a consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut
                    </p>
                    <div class="d-flex">
                        <div class="read"><a href="javascript:void(0)" class="link font-medium">Read More</a>
                        </div>
                        <div class="ml-auto">
                            <a href="javascript:void(0)" class="link m-r-10 " data-toggle="tooltip"
                               title="Like"><i class="mdi mdi-heart-outline"></i></a> <a
                                    href="javascript:void(0)" class="link" data-toggle="tooltip"
                                    title="Share"><i
                                        class="mdi mdi-share-variant"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Row -->
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Right sidebar -->
    <!-- ============================================================== -->
    <div class="right-sidebar">
        <div class="slimscrollright">
            <div class="rpanel-title"> Service Panel <span><i class="ti-close right-side-toggle"></i></span>
            </div>
            <div class="r-panel-body">
                <ul id="themecolors" class="m-t-20">
                    <li><b>With Light sidebar</b></li>
                    <li><a href="javascript:void(0)" data-theme="default" class="default-theme">1</a></li>
                    <li><a href="javascript:void(0)" data-theme="green" class="green-theme">2</a></li>
                    <li><a href="javascript:void(0)" data-theme="red" class="red-theme">3</a></li>
                    <li><a href="javascript:void(0)" data-theme="blue" class="blue-theme working">4</a></li>
                    <li><a href="javascript:void(0)" data-theme="purple" class="purple-theme">5</a></li>
                    <li><a href="javascript:void(0)" data-theme="megna" class="megna-theme">6</a></li>
                    <li class="d-block m-t-30"><b>With Dark sidebar</b></li>
                    <li><a href="javascript:void(0)" data-theme="default-dark" class="default-dark-theme">7</a>
                    </li>
                    <li><a href="javascript:void(0)" data-theme="green-dark" class="green-dark-theme">8</a></li>
                    <li><a href="javascript:void(0)" data-theme="red-dark" class="red-dark-theme">9</a></li>
                    <li><a href="javascript:void(0)" data-theme="blue-dark" class="blue-dark-theme">10</a></li>
                    <li><a href="javascript:void(0)" data-theme="purple-dark" class="purple-dark-theme">11</a>
                    </li>
                    <li><a href="javascript:void(0)" data-theme="megna-dark" class="megna-dark-theme ">12</a>
                    </li>
                </ul>
                <ul class="m-t-20 chatonline">
                    <li><b>Chat option</b></li>
                    <li>
                        <a href="javascript:void(0)"><img src="{{ asset('build/images/users/1.jpg') }}"
                                                          alt="user-img"
                                                          class="img-circle"> <span>Varun Dhavan <small
                                        class="text-success">online</small></span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><img src="{{ asset('build/images/users/2.jpg') }}"
                                                          alt="user-img"
                                                          class="img-circle"> <span>Genelia Deshmukh <small
                                        class="text-warning">Away</small></span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><img src="{{ asset('build/images/users/3.jpg') }}"
                                                          alt="user-img"
                                                          class="img-circle"> <span>Ritesh Deshmukh <small
                                        class="text-danger">Busy</small></span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><img src="{{ asset('build/images/users/4.jpg') }}"
                                                          alt="user-img"
                                                          class="img-circle"> <span>Arijit Sinh <small
                                        class="text-muted">Offline</small></span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><img src="{{ asset('build/images/users/5.jpg') }}"
                                                          alt="user-img"
                                                          class="img-circle"> <span>Govinda Star <small
                                        class="text-success">online</small></span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><img src="{{ asset('build/images/users/6.jpg') }}"
                                                          alt="user-img"
                                                          class="img-circle"> <span>John Abraham<small
                                        class="text-success">online</small></span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><img src="{{ asset('build/images/users/7.jpg') }}"
                                                          alt="user-img"
                                                          class="img-circle"> <span>Hritik Roshan<small
                                        class="text-success">online</small></span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><img src="{{ asset('build/images/users/8.jpg') }}"
                                                          alt="user-img"
                                                          class="img-circle"> <span>Pwandeep rajan <small
                                        class="text-success">online</small></span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Right sidebar -->
    <!-- ============================================================== -->
{% endblock %}
